<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>

</head>
<body>
{% include 'header.html' %}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">题目</th>
            <th scope="col">通过率</th>
            <th scope="col">难度</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in results %}
            <tr>
                <th scope="row">{{ item.pid }}</th>
                <td class="text-info fw-bold">{{ item.title }}</td>
                <td>{{ item.pass_rate }}</td>
                <td {% if item.difficulty == '简单' %}class="text-success fw-bold"
                    {% elif item.difficulty == '中等' %}class="text-warning fw-bold"
                    {% elif item.difficulty == '困难' %}class="text-danger fw-bold"
                    {% else %}class=""{% endif %}>{{ item.difficulty }}</td>
                <td><a class="btn btn-warning" href="/problem_detail/{{ item.pid }}" role="button">做题</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

</body>
</html>