<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ problem.title }}</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="row fs-2 fw-bold mb-3">{{ problem.title }}</div>
            <div class="row fs-5 lh-lg">{{ problem.content }}</div>
            {% for key, example in problem_example.items() %}
                <div class="mb-3">
                    <div class="row fw-bold">示例{{ key }}</div>
                    <div class="row fw-bold">
                        {{ example[0] }}
                    </div>
                    <div class="row fw-bold">
                        {{ example[1] }}
                    </div>
                    <div class="row fw-bold">
                        {{ example[2] }}
                    </div>
                </div>
            {% endfor %}
            <div class="row fw-bold mb-3">提示</div>
            {% for key, item in tips.items() %}
                <div class="mb-3">
                    <div class="row fw-bold ">{{ item }}</div>
                </div>
            {% endfor %}
        </div>
        <div class="col-6">
            <div id="program-div" class="mb-3">
                <div class="mb-3">
                    <select class="form-select" aria-label="language" id="language" style="width: 150px">
                        <option selected>请选择语言</option>
                        <option value="c++">c++</option>
                        <option value="python">python</option>
                        <option value="java">java</option>
                    </select>
                </div>

                <div class="mb-3">
                    <textarea style="height: 500px" class="form-control" id="code-textarea"
                              rows="3"></textarea>
                </div>
                <div class="mb-3 row">
                    <div class="col-2">
                        <a class="btn btn-primary" href="/submit_run/{{ problem.pid }}" role="button">运行</a>
                    </div>
                    <div class="col">
                        <a class="btn btn-success" role="button"
                           id="submit-btn">提交</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // jQuery 代码放在这里
        $('#submit-btn').click(function () {
            let responseDiv = $('#response_div');
            if (responseDiv.length > 0) {
                // 如果已有,先移除
                responseDiv.remove();
            }
            // 在点击时添加 Loading 提示 div
            $('#program-div').append('<div id="loading-div" class="d-flex align-items-center">\
            <strong>Running...</strong>\
            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>\
        </div>');
            let selectedLanguage = $('#language').val();

            let codeInput = $('#code-textarea').val();

            let formData = new FormData();
            formData.append('language', selectedLanguage);
            formData.append('code', codeInput);
            $.ajax({
                type: 'POST',
                url: '/submit_problem/{{ problem.pid }}',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    // 在成功响应后移除 Loading 提示 div
                    $('#loading-div').remove();
                    // 先检查是否已有 id 为 "response_div" 的 div
                    let responseDiv = $('#response_div');
                    if (responseDiv.length > 0) {
                        // 如果已有,先移除
                        responseDiv.remove();
                    }
                    if (response.status == 'error') {
                        $('#program-div').append('<div id= "response_div" class="alert alert-danger" role="alert">' + response.message + '</div>');
                    } else if (response.status == 'pass') {
                        $('#program-div').append('<div id= "response_div" class="alert alert-success" role="alert">' + response.message + '</div>');
                    }

                },
                error: function (xhr, status, error) {
                    // 在失败响应后移除 Loading 提示 div
                    $('#loading-div').remove();
                    alert('Error submitting code: ' + error);
                }
            });
        });
    });
</script>
</body>
</html>