<!DOCTYPE html>
<html lang="en">
<head>
    <title>登录</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bootstrap.css">
    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.js"></script>
</head>
<body>
<div class="mb-3 row">
    {% include 'header.html' %}
</div>
<div class="container" style="text-align: center">
    <form method="post" action="/user_reg">
        <div class="mb-3 row">
            <label for="Username" class="col-md-2 col-form-label">Email</label>
            <div class="col-md-5">
                <input type="text" class="form-control" id="Username" name="Username">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="inputPassword" class="col-md-2 col-form-label">Password</label>
            <div class="col-md-5">
                <input type="password" class="form-control" id="inputPassword" name="inputPassword">
            </div>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary mb-3">注册</button>
        </div>
    </form>
</div>

</body>
</html>